@font-face {
    font-family: "Inter";
    font-style: normal;
    src: url("../fonts/Inter-Regular.ttf");
}

@font-face {
    font-family: "Inter";
  font-style: bold;
  src: url("../fonts/Inter-Bold.ttf");
}

body {
    padding: 0;
    margin: 0;
    font-family: "Inter";
    font-size: 16px;
    line-height: 22px;
    color: #000;
    background: -o-linear-gradient(177deg, #F1B8D2 0%, #95BBE9 100%);
    background: linear-gradient(273deg, #F1B8D2 0%, #95BBE9 100%);
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.wrapper {
    max-width: 1300px;
    margin: 0 auto;
}

.min-wrapper {
    max-width: 1110px;
    margin: 0 auto;
}

.btn {
    padding: 10px 15px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgba(179, 163, 229, 0.368627451);
    -webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
    color: #f1b8d2;
    text-decoration: none;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.btn:hover {
    color: rgba(69, 54, 114, 0.5803921569);
    -webkit-box-shadow: 0px 0px 4px 2px rgba(69, 54, 114, 0.5803921569);
    box-shadow: 0px 0px 4px 2px rgba(69, 54, 114, 0.5803921569);
}

.btn--gradient {
    position: relative;
    display: inline-block;
    background: -o-linear-gradient(177deg, #F1B8D2 0%, #95BBE9 100%);
    background: linear-gradient(273deg, #F1B8D2 0%, #95BBE9 100%);
    color: white;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(117, 110, 110, 0.25);
    box-shadow: 0px 0px 5px 1px rgba(117, 110, 110, 0.25);
    z-index: 1;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.btn--gradient:hover {
    color: #fff;
}

.btn--gradient:hover::before {
    opacity: 1;
}

.btn--gradient::before {
    content: "";
    display: block;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, from(#F1B8D2), to(#95BBE9));
    background: -o-linear-gradient(left, #F1B8D2 0%, #95BBE9 100%);
    background: linear-gradient(90deg, #F1B8D2 0%, #95BBE9 100%);
    -webkit-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    z-index: -1;
}

.btn--portfolio {
    grid-area: btn;
    width: 140px;
    height: 27px;
    text-align: center;
    align-self: center;
    background: -webkit-linear-gradient(#95BBE9, #F1B8D2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero {
    margin-top: 82px;
    margin-bottom: 80px;
    background-color: white;
    border-radius: 30px;
    -webkit-box-shadow: 4px 4px 100px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 4px 4px 100px 4px rgba(0, 0, 0, 0.25);
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90px auto;
    grid-template-areas: ". menu" "info photo";
}

.hero__list {
    grid-area: menu;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.hero__list a {
    position: relative;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

.hero__list a:hover {
    background: -webkit-linear-gradient(#95BBE9, #F1B8D2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero__list a:hover::after {
    opacity: 1;
    -webkit-transform: translate3d(0, 0.2em, 0);
    transform: translate3d(0, 0.2em, 0);
}

.hero__list a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background: -o-linear-gradient(177deg, #F1B8D2 0%, #95BBE9 100%);
    background: linear-gradient(273deg, #F1B8D2 0%, #95BBE9 100%);
    opacity: 0;
    -webkit-transition: opacity 300ms, -webkit-transform 300ms;
    transition: opacity 300ms, -webkit-transform 300ms;
    -o-transition: opacity 300ms, transform 300ms;
    transition: opacity 300ms, transform 300ms;
    transition: opacity 300ms, transform 300ms, -webkit-transform 300ms;
}

.hero__info {
    margin-left: 120px;
    margin-bottom: 110px;
    grid-area: info;
}

.hero__title {
    font-size: 40px;
    line-height: 58px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 700;
}

.hero__social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 28px;
}

.hero__social-item {
    font-size: 0;
    display: inline-block;
    width: 22px;
    height: 22px;
    cursor: pointer;
    margin-right: 20px;
    opacity: 0.6;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.hero__social-item:hover {
    opacity: 1;
    width: 26px;
    height: 26px;
}

.hero__buttons {
    margin-top: 54px;
}

.hero__buttons .btn--gradient {
    margin-left: 8%;
}

.hero__photo {
    position: relative;
    grid-area: photo;
}

.hero__photo--image {
    position: relative;
    width: 388px;
    height: 413px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transform: translate(143px, 43px);
    -ms-transform: translate(143px, 43px);
    transform: translate(143px, 43px);
    z-index: 2;
}

.hero__line-1 {
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 64px;
    width: 0;
    height: 1px;
    background: -o-linear-gradient(237deg, rgba(241, 184, 210, 0.74) 0%, rgba(149, 187, 233, 0.79) 100%);
    background: linear-gradient(213deg, rgba(241, 184, 210, 0.74) 0%, rgba(149, 187, 233, 0.79) 100%);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-animation-name: line-growth-first;
    animation-name: line-growth-first;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.hero__line-2 {
    position: absolute;
    display: inline-block;
    bottom: 10px;
    right: 10px;
    width: 0;
    height: 1px;
    background: -o-linear-gradient(237deg, rgba(241, 184, 210, 0.74) 0%, rgba(149, 187, 233, 0.79) 100%);
    background: linear-gradient(213deg, rgba(241, 184, 210, 0.74) 0%, rgba(149, 187, 233, 0.79) 100%);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    transform-origin: bottom right;
    -webkit-animation-name: line-growth-second;
    animation-name: line-growth-second;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.social-vk {
    background-image: url("../images/icon/VK_logo.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.social-hh {
    background-image: url("../images/icon/HeadHunter_logo.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.social-mail {
    background-image: url("../images/icon/email-icon.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1fr;
    grid-template-areas: "title ." "img text";
    -webkit-column-gap: 35px;
    -moz-column-gap: 35px;
    column-gap: 35px;
}

.about__title {
    grid-area: title;
    color: white;
    font-size: 32px;
    font-weight: 700;
    align-self: flex-end;
}

.about__photo {
    position: relative;
    grid-area: img;
}

.about__photo--image {
    width: 80%;
    border: 2px dashed #fff;
}

.about__text {
    margin: 0;
    padding: 10px 20px;
    grid-area: text;
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px dashed #fff;
}

.skills {
    margin-bottom: 100px;
}

.skills__title {
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    font-size: 32px;
    font-weight: 700;
}

.skills__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.skills__html {
    position: relative;
    width: 360px;
    display: inline-block;
    color: white;
    height: 350px;
    background-image: url("../images/icon/html-icon.png");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 89px 7px;
}

.skills__html p {
    margin-top: 230px;
}

.skills__html-scale {
    position: absolute;
    top: 190px;
    width: 90%;
    height: 10px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 10px;
}

.skills__html-scale::after {
    content: "";
    position: absolute;
    top: 0px;
    width: 80%;
    height: 10px;
    background-color: white;
    border-radius: 10px;
}

.skills__html-procent {
    position: absolute;
    top: -30px;
    color: white;
}

.skills__css {
    position: relative;
    width: 360px;
    display: inline-block;
    color: white;
    height: 350px;
    background-image: url("../images/icon/css3.png");
    background-repeat: no-repeat;
    background-size: 28%;
    background-position: 107px 7px;
}

.skills__css p {
    margin-top: 230px;
}

.skills__css-scale {
    position: absolute;
    top: 190px;
    width: 90%;
    height: 10px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 10px;
}

.skills__css-scale::after {
    content: "";
    position: absolute;
    top: 0px;
    width: 60%;
    height: 10px;
    background-color: white;
    border-radius: 10px;
}

.skills__css-procent {
    position: absolute;
    top: -30px;
    color: white;
}

.skills__js {
    width: 360px;
    position: relative;
    display: inline-block;
    color: white;
    height: 350px;
    background-image: url("../images/icon/javascript-icon.png");
    background-repeat: no-repeat;
    background-size: 68%;
    background-position: 38px 7px;
}

.skills__js p {
    margin-top: 230px;
}

.skills__js-scale {
    position: absolute;
    top: 190px;
    width: 90%;
    height: 10px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 10px;
}

.skills__js-scale::after {
    content: "";
    position: absolute;
    top: 0px;
    width: 40%;
    height: 10px;
    background-color: white;
    border-radius: 10px;
}

.skills__js-procent {
    position: absolute;
    top: -30px;
    color: white;
}

.skills__other {
    margin-top: 50px;
    color: white;
}

.portfolio {
    margin-bottom: 50px;
}

.portfolio__title {
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    font-size: 32px;
    font-weight: 700;
}

.portfolio__block {
    margin-bottom: 50px;
    height: 300px;
    background-color: white;
    border-radius: 30px;
    -webkit-box-shadow: 4px 4px 100px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 4px 4px 100px 4px rgba(0, 0, 0, 0.25);
    padding: 30px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    grid-template-areas: "title . img" "text text img" "btn . img";
    -webkit-column-gap: 50px;
    -moz-column-gap: 50px;
    column-gap: 50px;
}

.portfolio__subtitle {
    grid-area: title;
    color: rgba(0, 0, 0, 0.6);
    font-size: 26px;
    font-weight: bold;
}

.portfolio__image {
    grid-area: img;
    border-radius: 30px;
    width: 90%;
    height: 70%;
    border: 2px solid rgba(179, 163, 229, 0.368627451);
    align-self: center;
}

.portfolio__description {
    margin-right: 30px;
    margin-bottom: 30px;
    grid-area: text;
    color: rgba(0, 0, 0, 0.6);
}

.contacts {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
    border-radius: 30px;
    -webkit-box-shadow: 4px 4px 100px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 4px 4px 100px 4px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas: "title img" "list img";
}

.contacts__photo {
    grid-area: img;
    justify-self: flex-end;
    margin-right: 50px;
}

.contacts__photo--image {
    width: 353px;
    height: 351px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
}

.contacts__title {
    margin-left: 70px;
    font-size: 43px;
    grid-area: title;
    background: -webkit-linear-gradient(#95BBE9, #F1B8D2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    justify-self: flex-start;
}

.contacts__list {
    margin-left: 70px;
    grid-area: list;
    justify-self: flex-start;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr 1fr;
    -webkit-column-gap: 60px;
    -moz-column-gap: 60px;
    column-gap: 60px;
    row-gap: 15px;
}

.contacts__item-phone {
    display: inline-block;
    background-image: url("../images/icon/phone-icon.png");
    background-repeat: no-repeat;
    background-size: 20%;
    padding-left: 50px;
    padding-top: 10px;
    color: rgba(0, 0, 0, 0.6);
}

.contacts__item-email {
    background-image: url("../images/icon/mail-icon.png");
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 0 -11px;
    padding-left: 78px;
    padding-top: 10px;
}

.contacts__item-email a {
    color: rgba(0, 0, 0, 0.6);
}

.contacts__item-email a:hover {
    color: #000;
}

.contacts__item-hh {
    padding-top: 10px;
    padding-left: 18px;
    background-image: url("../images/icon/HeadHunter_logo.png");
    background-repeat: no-repeat;
    background-position: 7px 0;
    background-size: 16%;
    cursor: pointer;
}

.contacts__item-hh a {
    margin-left: 60px;
    color: rgba(0, 0, 0, 0.6);
}

.contacts__item-hh a:hover {
    color: #000;
}

.contacts__item-vk {
    cursor: pointer;
    padding-top: 10px;
    background-image: url("../images/icon/VK_logo.png");
    background-repeat: no-repeat;
    background-size: 20%;
}

.contacts__item-vk a {
    margin-left: 60px;
    color: rgba(0, 0, 0, 0.6);
}

.contacts__item-vk a:hover {
    color: #000;
}

@media (max-width: 1300px) {
    .wrapper {
        max-width: 1110px;
    }

    .hero__line-1, .hero__line-2 {
        display: none;
    }
}

@media (max-width: 1110px) {
    .wrapper, .min-wrapper {
        margin-left: 15px;
        margin-right: 15px;
    }

    .hero__title {
        font-size: 35px;
        line-height: 48px;
        margin-right: 15px;
    }

    .hero__photo--image {
        -webkit-transform: translate(49px, 12px);
        -ms-transform: translate(49px, 12px);
        transform: translate(49px, 12px);
    }

    .about {
        -webkit-column-gap: 0;
        -moz-column-gap: 0;
        column-gap: 0;
    }

    .skills__html, .skills__css, .skills__js {
        max-width: 325px;
    }

    .contacts__list {
        margin-left: 35px;
    }
}

@media (max-width: 915px) {
    .hero {
        grid-template-columns: 1fr;
        grid-template-rows: 100px auto auto;
        grid-template-areas: "menu" "photo" "info";
    }

    .hero__photo {
        margin: auto;
    }

    .hero__photo--image {
        max-width: 325px;
        max-height: 325px;
        -webkit-transform: translate(1px, 1px);
        -ms-transform: translate(1px, 1px);
        transform: translate(1px, 1px);
    }

    .hero__info {
        margin-left: 55px;
        margin-bottom: 55px;
    }

    .hero__info p {
        text-align: center;
    }

    .skills__html, .skills__css, .skills__js {
        max-width: 255px;
        height: unset;
    }

    .portfolio__block {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 1fr 0.5fr;
        grid-template-areas: "title img" "text img" "btn img";
        height: 345px;
    }

    .contacts__title {
        margin: 0;
        margin-left: 35px;
    }

    .contacts__list {
        gap: 0;
    }

    .contacts__photo--image {
        max-width: 260px;
        height: 260px;
    }
}

@media (max-width: 810px) {
    .about {
        grid-template-areas: "title title" "img text";
    }

    .about__title, .skills__title, .portfolio__title {
        text-align: center;
    }

    .portfolio__block {
        height: unset;
    }

    .portfolio__image {
        height: unset;
    }
}

@media (max-width: 680px) {
    .about {
        grid-template-columns: 1fr;
        grid-template-rows: 90px auto auto;
        grid-template-areas: "title" "img" "text";
    }

    .about__photo {
        text-align: center;
        margin-bottom: 20px;
    }

    .skills__main {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .skills__html, .skills__css, .skills__js {
        max-width: 345px;
        margin-bottom: 50px;
    }

    .skills__other {
        text-align: center;
    }

    .portfolio__block {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "title" "text" "img" "btn";
    }

    .portfolio__image {
        margin-bottom: 20px;
    }

    .contacts {
        grid-template-columns: 1fr;
    }

    .contacts__photo {
        display: none;
    }
}

@media (max-width: 485px) {
    .hero__list {
        padding-left: 0;
        font-size: 13px;
    }

    .hero__info {
        margin-left: 10px;
    }

    .hero__title {
        font-size: 20px;
        line-height: 34px;
        text-align: center;
    }

    .hero__social-list {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .hero__buttons {
        text-align: center;
    }

    .contacts {
        grid-template-rows: auto;
    }

    .contacts__title {
        justify-self: center;
        padding-bottom: 15px;
        margin-left: 0;
    }

    .contacts__list {
        margin-left: 0;
        justify-self: center;
        grid-template-columns: 1fr;
        grid-template-rows: 80px 80px 80px 80px;
    }

    .contacts__item-email {
        padding-top: 0;
        padding-left: 60px;
    }

    .contacts__item-hh {
        padding-left: 0;
    }

    .skills__html, .skills__css, .skills__js {
        max-width: 250px;
    }
}

@media (max-width: 385px) {
    .hero__photo--image {
        max-width: 250px;
        max-height: 250px;
    }
}

@media (max-width: 375px) {
    .hero__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

@-webkit-keyframes line-growth-first {
    0% {
        width: 0;
    }

    100% {
        width: 830px;
    }
}

@keyframes line-growth-first {
    0% {
        width: 0;
    }

    100% {
        width: 830px;
    }
}

@-webkit-keyframes line-growth-second {
    0% {
        width: 0;
    }

    100% {
        width: 395px;
    }
}

@keyframes line-growth-second {
    0% {
        width: 0;
    }

    100% {
        width: 395px;
    }
}